.toggle-container {
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: middle; /* Add this line */
    margin-left: 5px; /* Space before the container */
    margin-right: 5px; /* Space after the container */
}


.toggle-option {
    display: inline-block;
    background-color: #f9f9f9;
    border: none;
    font-size: 16px;
    cursor: pointer;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
    margin: 0;
    
    webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE/Edge */
    user-select: none;         /* Non-prefixed version, currently supported by Chrome, Opera and Safari */
}

.original {
    background-color: #ffcccc; /* Light red background */
}

.corrected {
    background-color: #ccffcc;
}

.original:hover {
    background-color: #ff9999; /* Darker red on hover */
}

.corrected:hover {
    background-color: #99ff99;
}

.toggle-option:hover {
    background-color: #e9e9e9;
}

.toggle-option:focus {
    outline: none;
}

.toggle-option.selected {
    background-color: #007bff;
    color: white;
}
